<br><br><br>
<h1 >Analyse Des Vulnérabilités</h1>
<br><br><br>
<div class="container">
   

    <div class="section" id="people">
        <h4>assets with type people : </h4>
        {{AssetPeople}}%
    </div>

    <div class="section" id="hardware">
        <h4>assets with type hardware : </h4>

        {{AssetHardware}}%
    </div>

    <div class="section" id="object">
        <h4>assets with type object : </h4>

        {{AssetObject}}%
    </div>

    <div class="section" id="software">
        <h4>assets with type software : </h4>

        {{AssetSoftware}}%
    </div>
</div>
<br><br><br><br>
<canvas id="myChart" class="chart-canvas"></canvas>